---
import { type CollectionEntry, getCollection } from "astro:content";
import { type MarkdownHeading } from "astro";

import { Head, Header, Footer } from "@/components/layout/index.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

const post = Astro.props;
const { Content, headings } = await post.render();
const {
  title,
  description,
  created_at: createdAt,
  updated_at: updatedAt,
  image,
} = post.data;

type GroupedHeading = MarkdownHeading & { children: MarkdownHeading[] };

const groupedHeadings = headings.reduce((acc, heading) => {
  if (heading.depth === 2) {
    acc.push({ ...heading, children: [] });
  } else if (heading.depth === 3) {
    acc.at(-1)?.children.push(heading);
  }

  return acc;
}, new Array<GroupedHeading>());
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={title} description={description} />
  </head>

  <body class="flex flex-col min-h-screen justify-start font-body relative">
    <Header />

    <main class="flex flex-col mx-auto container justify-center pt-16 pb-16">
      <header
        class="flex flex-col lg:flex-row items-center mx-auto gap-x-6 mb-10"
      >
        <figure
          class="flex flex-shrink-0 mx-auto lg:mx-0 items-center justify-center rounded-lg overflow-clip bg-gray-100 dark:bg-gray-900 p-4"
        >
          <img
            src={image.src}
            alt={image.alt}
            class="h-40 w-40 object-center object-contain"
          />
        </figure>

        <div class="flex flex-col justify-center gap-y-1">
          <h1
            class="text-3xl md:text-4xl lg:text-5xl font-black max-w-xl lg:max-w-2xl text-left"
          >
            {title}
          </h1>
          <p class="text-2xl font-thin">
            {description}
          </p>
        </div>
      </header>

      <section class="flex flex-col lg:flex-row gap-y-4 lg:gap-x-6 lg:gap-y-0">
        <div class="flex flex-1 order-1">
          <div
            class="format dark:format-invert lg:format-lg format-h2:pt-8 format-code:font-mono fopt-2 w-full"
          >
            <Content />
          </div>
        </div>

        <div
          class="flex-shrink-0 order-0 py-2 text-gray-800 text-pretty dark:text-gray-200 text-sm z-10
              lg:w-[300px] lg:order-2 lg:p-0"
        >
          <div
            class="lg:sticky top-0 max-h-full overflow-y-auto rounded-lg border-l border-border lg:border-0 py-4 px-6 space-y-6"
          >
            <div>
              <h5 class="text-2xl font-bold pt-2">On this page</h5>
              <ul class="-space-y-2">
                {
                  groupedHeadings.map((heading) => {
                    const children =
                      heading.children.length > 0 ? (
                        <li>
                          <ul class="ml-4 -space-y-2">
                            {heading.children.map((subheading) => (
                              <li>
                                <a
                                  href={`#${subheading.slug}`}
                                  class="flex p-3 rounded hover:z-10 hover:bg-gray-100 dark:hover:bg-gray-900"
                                >
                                  <span>{subheading.text}</span>
                                </a>
                              </li>
                            ))}
                          </ul>
                        </li>
                      ) : null;

                    return (
                      <>
                        <li>
                          <a
                            href={`#${heading.slug}`}
                            class="flex items-center p-3 rounded hover:z-10 hover:bg-gray-100 dark:hover:bg-gray-900"
                          >
                            <span>{heading.text}</span>
                          </a>
                        </li>

                        {children}
                      </>
                    );
                  })
                }

                {
                  /* 
                      {% if h1.children %}
                        <li>
                          <ul class="ml-4 -space-y-2">
                            {% for h2 in h1.children %}
                              <li>
                                <a 
                                  href="{{ h2.permalink | safe }}"
                                  class="flex p-3 rounded hover:z-10 hover:bg-gray-100 dark:hover:bg-gray-900"
                                >
                                  <span>{{ h2.title }}</span>
                                </a>
                              </li>
                            {% endfor %}
                          </ul>
                        </li>
                      {% endif %}
  */
                }
              </ul>
            </div>

            {
              /*
                <div>
                  <h5 class="text-2xl font-bold pt-2">Relevant links</h5>
                  <ul class="-space-y-2">
                    {% for link in links %}
                      <li>
                        <a 
                          href="{{ link.url | safe }}"
                          class="flex items-center p-3 rounded hover:z-10 hover:bg-gray-100 dark:hover:bg-gray-900"
                        >
                          <span>{{ link.name }}</span>
                        </a>
                      </li>
                  {% endfor %}
                  </ul>
                </div>
  */
            }

            {
              /*
                <div>
                  <h5 class="text-2xl font-bold pt-2">Backlinks</h5>
                  <ul class="-space-y-2">
                    {% for link in backlinks %}
                      {% if link.permalink == page.permalink %}
                        {% continue %}
                      {% endif %}
                      <li>
                        <a 
                          href="{{ link.permalink | safe }}"
                          class="flex items-center p-3 rounded hover:z-10 hover:bg-gray-100 dark:hover:bg-gray-900"
                        >
                          <span>{{ link.title }}</span>
                        </a>
                      </li>
                  {% endfor %}
                  </ul>
                </div>
  */
            }
          </div>
        </div>
      </section>

      <Footer />
    </main>
  </body>
</html>
